@import url(./__logo/header__logo.css);
.header{
    max-width: 882px;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 45px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}


@media screen and (max-width: 767px){
    .header{
        margin-bottom: 42px;
    }
}
